.Player {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  animation: fadeIn 0.5s ease-in-out;
  flex-basis: 100%;
  flex-grow: 1;
  justify-content: center;
  gap: 5px;

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    flex-grow: 1;
    order: 2;
    gap: 20px;
  }
}
