.PlayerInfo {
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--color-primary);
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  order: 1;
  padding: 10px;

  .Player--dealer & {
    order: 0;
  }
}
