.Game {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
  position: relative;

  &__table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    max-width: 800px;

    .Player:first-child {
      margin-bottom: 20px;

      @include bp(md) {
        margin-bottom: 100px;
      }
    }
  }
}
